AddHandler wsgi-script .wsgi

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f # Don't interfere with static files
RewriteRule ^(.*)$ cgi-bin/eventer.wsgi [QSA,L]
#RewriteRule ^(.*)$ cgi-bin/eventer.cgi [QSA,L]


#### This is example of django rewrite. ###
#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ /django.wsgi/$1 [QSA,PT,L]